.search_form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid teal;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border-color: rgb(1, 62, 62);
  }
}

.btn {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #bcdcdc;
  font-weight: bold;

  &:not([disabled]):hover {
    color: teal;
    border: 1px solid teal;
    cursor: pointer;
    transition: color 0.3s;
  }
}