.pagination_wrapper {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  &_current_page {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: #bcdcdc;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
