.input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid teal;
  outline: none;

  &_error {
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: -15px;
  }

  &:hover {
    cursor: pointer;
  }
}