.modal {
  &__content {
    display: flex;
    border-radius: 10px;
    background-color: #fafafa;
    cursor: default;
  }

  &__img {
    width: 500px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
  }

  &__text {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 20px;
    text-align: center;
  }

  &__name {
    font-size: 30px;
  }

  &__label {
    color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
  }
}

.card_value {
  font-style: italic;
}

.card_field {
  font-size: 15px;
}

.btn_back {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #bcdcdc;
  font-weight: bold;
  color: black;

  &:not([disabled]):hover {
    color: teal;
    border: 1px solid teal;
    cursor: pointer;
    transition: color 0.3s;
  }
}
