.user_form {
  padding: 20px;
  background-color: #edf6f3;
  border-radius: 15px;
  box-shadow: 10px 5px 5px teal;
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 20px;

  &__title {
    text-align: center;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    &_title {
      font-weight: bold;
      color: teal;
      font-size: 15px;
    }
  }
}

.input_submit {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #bcdcdc;
  font-weight: bold;

  &:not([disabled]):hover {
    color: teal;
    border: 1px solid teal;
    cursor: pointer;
    transition: color 0.3s;
  }
}
